.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.restaurant-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  width: 300px;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imgBx {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  overflow: hidden;
}

.restaurant-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 15px;
  text-align: center;
}

.details h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.details span {
  display: block;
  font-size: 0.9em;
  color: #888;
}

.restaurant-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #ff9529;
}

.restaurant-rating svg {
  margin-right: 5px;
}

.restaurant-cuisines {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}
